h1, h2 {
    font-family:Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    width: fit-content;
    border-radius: 4px;
    padding: 2px 6px;
}

h1 {color:darkcyan;}

h2 {
    color:blueviolet;
    display: inline-block;
}

.stats {
    color:blueviolet;
    font-family:Arial, Helvetica, sans-serif;
    background-color: thistle;
    width: fit-content;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: large;
    display: inline;
    margin: 4px;
}

#newContent {
    display: inline-block;
}